<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->


<head th:replace="fragments::head">

</head>


<body>


<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<!--
<div th:replace="fragments::slider">
</div>
-->
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro_5.jpg" alt="jhj"/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top"><span>Профессионалам и начинающим мастерам всей России</span></h2>
                <p>Нащ коллектив - творческие люди, которые любят искусство создания необычных вещей, поэтому точно знают, что нужно начинающим и профессиональным мастерицам. Наши сотрудники в магазинах или онлайн-консультанты всегда подскажут и предложат наиболее выгодные и удобные варианты инструментов и материалов для различных видов творчества.</p>

                <p>Каждому клиенту мы гарантируем:</p>
                <p>·         Качество товаров, потому что работаем с проверенными поставщиками.</p>
                <p>·         Низкие цены, так как делаем заказы напрямую у производителей, а некоторые материалы для творчества изготавливаем самостоятельно.</p>
                <p>·         Регулярное обновление и пополнение ассортимента, поскольку постоянно следим за новинками в мире рукоделия.</p>

                <p>При этом Вы можете оплатить покупку любым удобным способом и заказать доставку транспортными компаниями или почтой. География нашей доставки – вся Россия!</p>


            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Нам доверяют</h3>
                    <p>Наш магазин выбирают мастера со всей России  на протяжении 25 лет</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>МЫ ПРОФЕССИОНАЛЫ</h3>
                    <p>На протяжении 25 лет изучаем передовые технологии, чтобы предоставить наиболее легкую, удобную и  качественную продукцию</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Гарантия качества</h3>
                    <p>Вся продукция сертифицирована и предоставляется Вам с официальными гарантиями. Вы всегда сможете вернуть покупку, если вас что-то не устроит. Мы гарантируем это, потому, что такие случаи единичны.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>